@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }
  * > * {
    @apply font-mono;
  }
  body {
    background-color: #334155;
    color: white;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-transform: capitalize;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f5f9;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #94a3b8;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #64748b;
  }
}
